.myHeader {
    background: #001529;
}

.myHeader span {
    color: white
}

.side-actions {
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
    width: 60px;
}

.post-c {
    -webkit-flex: auto;
    flex: auto;
    min-height: 0;
    padding: 50px;
    background: #07233c;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffffbd;
    font-weight: 600;

}
@media screen and (max-width: 640px) {
  .post-c{
    padding:30px;
  }
}

.foot-c {
    padding: 24px 50px;
    color: rgba(242, 242, 242, 0.85);
    font-size: 14px;
    background: #001529;
}


.cat-p {

    margin-bottom: 30px;
    padding: 0;
    background: #0a3155;
display: flex;
align-items: center;
flex-flow: row;
}

.cat-p a h4 {
    color: #fff;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.nextbtn{
display: flex;
margin: 0 auto;
}
.left-card {
    display: inline-block;
    
   
}
.left-card img{
    object-fit: cover;
}

.right-card {
    display: flex;
padding: 0px 20px;
align-self: center;
text-overflow: ellipsis;
overflow: hidden;
flex-direction: column;


}

.cat-p span {
    color: #ffffffa3;
    font-weight: 100;
    font-size:15px;
}


.cat-head {
    color: black;
    font-size: 18px !important;
}